/lib
/spec
/scripts
/docs
/coverage
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
vitest.config.ts
tsup.config.ts
tsconfig.json
typedoc.json
mkdocs.yml
plugins/typia/go/go.work
plugins/typia/go/go.work.sum
