<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>title</title>
  <meta content="authenticity_token" name="csrf-param">
  <meta content="token" name="csrf-token">
  <script src="/relax.js"></script>
  <style>
    html { overflow: scroll; }
    body:before { content: ''; display: block; width: 1000px; height: 1000px; }
  </style>
  <script>
    Relax.replace(
      <%= File.read(File.join(File.expand_path(File.dirname(__FILE__)),'session.js')) %>
      );
  </script>
</head>
<body>
</body>
</html>

