<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta content="authenticity_token" name="csrf-param">
    <meta content="token" name="csrf-token">

    <%#= csrf_meta_tags %>
    <%= javascript_include_tag '/breezy'  %>
    <script type="text/javascript">
       <%= breezy_snippet %>
    </script>
</head>
<div id='app'></div>
  <body>
    <%= yield %>
  </body>
</html>



